<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Vacinas</title>
    <link rel="stylesheet" href="Estilos/vacinas.css">
</head>
<body>
    <div class="content">
    <form action="">
        <h1>"Carteira Digital de vacina"<br>Nome:</h1>
        <fieldset> 
            <div class="button"> 
                <a href="PagConstrucao.html"><button>BCG Tuberculose</button></a>
                <a href="PagConstrucao.html"><button>VIP Paralisia Infantil</button></a>
                <a href="PagConstrucao.html"><button>VOP Paralisia Infantil</button></a>
                <a href="PagConstrucao.html"><button>BCG Tuberculose</button></a>
            </div>

            <div class="button_2"> 
                <a href="PagConstrucao.html"><button>Penta (DTP+Hep+HepB)</button></a>
                <a href="PagConstrucao.html"><button>Pneumo 10</button></a>
                <a href="PagConstrucao.html"><button>Rota vírus</button></a>
                <a href="PagConstrucao.html"><button>Meningo C</button></a>
            </div>

            <div class="button_3"> 
                <a href="PagConstrucao.html"><button>Hepatite B</button></a>
                <a href="PagConstrucao.html"><button>Difteria Tétano Coqueluche</button></a>
                <a href="PagConstrucao.html"><button>Sarampo Caxumba Rubéola</button></a>
                <a href="PagConstrucao.html"><button>Sarampo Caxumba Rubéola Varicela</button></a>
            </div>

            <div class="button"> 
                <a href="PagConstrucao.html"><button>Febre Amarela</button></a>
                <a href="PagConstrucao.html"><button>Dupla Adulto</button></a>
                <a href="PagConstrucao.html"><button>Raiva</button></a>
                <a href="PagConstrucao.html"><button>Influenza</button></a>
            </div>

            <div class="button"> 
                <a href="PagConstrucao.html"><button>Covid-19</button></a>
                <a href="PagConstrucao.html"><button>Outras Vacinas</button></a>
            </div>
        </a>
        </fieldset> 
    </form>     
    </div>
</body>
</html>